@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post">
        <input type="text" name="NameText"/>
        <input type="submit" value="Применить"/>

    </form>
    
</div>
