@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post">
        <input type="text" name="NameText"/>
        <input type="submit" value="Применить"/>
    </form>
    <h1 class="display-4">Klemb3r не Одобряет</h1>
    <p>Нож в спину <a href="https://wishsimulator.app">крутки в геншин</a>.</p>
</div>
